# config variables
LCL_MAX_POOL=CI_LCL_MAX_POOL
LCL_MIN_POOL=CI_LCL_MIN_POOL
LCL_API_PORT=CI_LCL_API_PORT
LCL_PATH_LOG=CI_LCL_PATH_LOG
LCL_FULL_LOG=CI_LCL_FULL_LOG
LCL_JWT_EXPIRE_TIME=CI_LCL_JWT_EXPIRE_TIME

# secret variables
LCL_MYSQL_HOST=CI_LCL_MYSQL_HOST
LCL_MYSQL_PORT=CI_LCL_MYSQL_PORT
LCL_MYSQL_USER=CI_LCL_MYSQL_USER
LCL_MYSQL_PASS=CI_LCL_MYSQL_PASS
LCL_MYSQL_DB=CI_LCL_MYSQL_DB

LCL_ADMIN_EMAIL=CI_LCL_ADMIN_EMAIL
LCL_ADMIN_PASS=CI_LCL_ADMIN_PASS
LCL_SALT_ROUNDS=CI_LCL_SALT_ROUNDS
LCL_JWT_SECRET=CI_JWT_SECRET

# aws service variables
LCL_S3_FILE_TYPE=CI_S3_FILE_TYPE
LCL_S3_KEY=CI_LCL_S3_KEY
LCL_S3_SECRET=CI_LCL_S3_SECRET
LCL_S3_REGION=CI_LCL_S3_REGION
LCL_S3_BUCKET=CI_LCL_S3_BUCKET

# ETH variables
LCL_KOVAN_KEY=CI_KOVAN_KEY
LCL_ETHERSCAN_API_KEY=CI_LCL_ETHERSCAN_API_KEY
LCL_BSC_API_KEY=CI_LCL_BSC_API_KEY
LCL_INFURA_API_KEY=CI_LCL_INFURA_API_KEY
LCL_BSCSCAN_API_KEY=CI_LCL_BSCSCAN_API_KEY

# Cronjob variables
LCL_UPDATE_COIN_RATIO_CRONJOB_INTERVAL=*/10 * * * *
LCL_GET_GAS_ORACLE_CRONJOB_INTERVAL=* * * * *

# caller
LCL_CALLER_ADDR=CI_LCL_CALLER_ADDR
LCL_CALLER_PRIV=CI_LCL_CALLER_PRIV

# API key internal
LCL_API_KEY_INTERNAL=CI_LCL_API_KEY_INTERNAL
